<h2>Welcome <%= current_user.name %></h2>

<table>
  <thead>
    <tr>
      <th colspan=2 style="text-align: center;">Conversations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Number of people that opened the prototype link</td>
      <td>
        <%= @total_chats %>
      </td>
    </tr>
    <tr>
      <td>Number of survey responses</td>
      <td>
        <%= @conversation_feedback_count%>
        <%= @percentage_conversation_feedback %>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan=2 style="text-align: center;">Questions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Number of queries submitted to GOV.UK Chat</td>
      <td><%= @total_questions %></td>
    </tr>
    <tr>
      <td>Number of chat responses that received feedback</td>
      <td><%= @message_count %></td>
    </tr>
    <tr>
      <td>Number of valid replies (from OpenAI)</td>
      <td>
        <%= @total_valid_replies %>
        <%= @percentage_valid_replies%>
      </td>
    </tr>
    <tr>
      <td>Number of invalid replies (from OpenAI)</td>
      <td>
        <%= @total_invalid_replies %>
        <%= @percentage_invalid_replies %>
      </td>
    </tr>
  </tbody>
</table>
