<h2><%= @header.humanize + " : " + @value %> [<%= @answers.count %>]</h2>

<% @answers.each do |answer| %>
  <% uuid = nil %>
  <% chats = Chat.where(uuid: answer.feedback.uuid) %>
  <% chats.each_with_index do |chat, index| %>
    <% unless uuid == chat.uuid %>
      <% unless index == 0 %></details><% end %>
      <details>
      <summary><code><%= answer.feedback.uuid %></code></summary>
    <% end %>

    <p><strong>Prompt</strong>: <%= chat.prompt %></p>
    <p><strong>Answer</strong>: <%= chat.answer %></p>

    <% if index < chats.count - 1 %><hr><% end %>

    <% uuid = chat.uuid %>
  <% end %>

  <p><%= link_to "View conversation", answer_path(id: answer.id), class: "button" %>
  </details>
<% end %>
